
@{
    ViewBag.Title = "Failibeijing";
    Layout = "~/Views/Shared/_LayoutGCHome.cshtml";
}

    <div style="margin:0px auto;width:25%;margin-top:12%">
        <img src="~/images/失败表情 2.png" />
        <p style="font-size:2rem;font-weight:200;margin-top:10px;transform:translateX(25px)">暂未查询到信息</p>
    </div>

