
@{
    ViewBag.Title = "Failicon";
    Layout = "~/Views/Shared/_LayoutGCHome.cshtml";
}

    <div style="margin:0px auto;width:25%;margin-top:12%">
        <img src="~/images/失败表情 2.png" />
        <p style="font-size:2rem;font-weight:200;margin-top:10px;transform:translateX(15px)">该寝室已满员了哦！</p>
    </div>

