
@{
    ViewBag.Title = "Important";
    Layout = "~/Views/Shared/_LayoutGCHome.cshtml";
}
<style>
    * {
        margin:0px;
        padding:0px;
    }
</style>
    <div style="background-image:url('/images/下载.png');background-size: contain;height:600px">
        <div style="width:50%;height:auto;border:1px solid red">
            <div class="form-group" style="width:100%;height:20px">
                <label for="firstname" class="col-sm-2 control-label">学生学号</label>
                <div class="col-sm-9">
                    <label>nihao</label>
                </div>
            </div>
            <div class="form-group" style="width:100%;height:20px">
                <label for="lastname" class="col-sm-2 control-label">楼宇</label>
                <div class="col-sm-9">
                    <label>nihao</label>
                </div>
            </div>
            <div class="form-group" style="width:100%;height:20px">
                <label for="lastname" class="col-sm-2 control-label">宿舍</label>
                <div class="col-sm-9">
                    <label></label>
                </div>
            </div>
            <div class="form-group" style="width:100%;height:20px">
                <label for="lastname" class="col-sm-2 control-label">入住时间</label>
                <div class="col-sm-9">
                    <label></label>
                </div>
            </div>
            <div class="form-group" style="width:100%;height:50px">
                <label for="lastname" class="col-sm-2 control-label">登记人</label>
                <div class="col-sm-9">
                    <label></label>
                </div>
            </div>
            <div class="form-group" style="width:100%;height:50px">
                <div class="col-sm-offset-4 col-sm-10">
                    <label></label>
                </div>
            </div>
        </div>
    </div>
