
@{
    ViewBag.Title = "Sxtishi";
    Layout = "~/Views/Shared/_LayoutStudentGCHome.cshtml";
}

<div style="margin:0px auto;width:30%;margin-top:12%;margin-bottom:20%">
    @*<img src="~/images/成功.png" />*@
    <p style="font-size:2rem;font-weight:200;margin-top:10px">申诉成功！请等待处理</p>
</div>


